{% extends '::base.html.twig' %}

{% block body %}
    <h1>Add game</h1>
    <div id="addGameForm">
        <form action="{{ path('add_game', {'slug': team.slug}) }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.yourPlayer) }}
            </div>

            <div class="form-group">
            {{ form_row(form.map) }}
            </div>

            <div class="form-group">
            {{ form_row(form.date) }}
            </div>

            <div class="form-group">
            {{ form_row(form.opponentRace) }}
            </div>

            <div class="form-group">
            {{ form_row(form.result) }}
            </div>

            {{ form_rest(form) }}

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Add game</button>
        </form>
    </div>
{% endblock %}