{% extends '::base.html.twig' %}

{% block body %}
<div class="player">
    <h1>Game #{{ game.id }}</h1><br /><br /><br />

        Player: <a href="{{ path('show_player', {'tslug': game.yourPlayer.team.slug, 'pslug': game.yourPlayer.slug}) }}">
            [ {{ game.yourPlayer.team.nameAbbreviation }} ] {{ game.yourPlayer.nickname }}</a><br />
        Map: <a href="{{ path('show_map', {'slug': game.map.slug}) }}">{{ game.map.mapName }}</a><br />
        Date: {{ game.date|date('Y-m-d') }}<br />
        Opponent's race: <a href="{{ path('show_race', {'race': game.opponentRace}) }}">{{ game.opponentRace }}</a><br />
        Result: {{ game.result }}<br />
</div>
{% endblock %}