<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}SC2CoachAssistant{% endblock %}</title>

        <meta name="description" content="Application supporting player selection in team leagues of eSport StarCraft 2." />
        <meta name="author" content="Mateusz Malarski" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

    </head>
    <body>
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashbag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('warning') %}
            <div class="alert alert-warning">
                {% for msg in app.session.flashbag.get('warning') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div id="container">
            <div id="header">
                <div id="logo">
                    <a href="{{ path('index') }}">SC2CoachAssistant</a>
                </div>
                <div id="buttons">
                    <a role="button" class="btn btn-primary" href="{{ path('index') }}">
                        Main page
                    </a>
                    <a role="button" class="btn btn-primary" href="{{ path('predict') }}">
                        Prediction
                    </a>
                    <a role="button" class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">
                        Settings
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a role="button" class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
                        Logout
                    </a>
                    {% else %}
                    <a role="button" class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
                        Login
                    </a>
                    {% endif %}
                </div>
                <p id="login">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        You are logged-in as {{ app.user.username }}.
                    {% else %}
                        You are not logged-in.
                    {% endif %}
                </p>
            </div>

            <div id="content">
                {% block body %}
                {% endblock %}
            </div>

            <div id="footer">
                <p>2016 &copy; Mateusz Malarski - SC2CoachAssistant - mateuszadammalarski@gmail.com</p>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.1.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
