{% extends '::base.html.twig' %}

{% block body %}
    <h1>Add player</h1>
    <div id="addPlayerForm">
        <form action="{{ path('add_player', {'slug': team.slug}) }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.nickname) }}
            </div>

            <div class="form-group">
            {{ form_row(form.race) }}
            </div>

            {{ form_rest(form) }}

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Add player</button>
        </form>
    </div>
{% endblock %}