{% extends '::base.html.twig' %}
{% block body %}
<div class="player">

    <h1>{{ player.nickname }}</h1>

    <div>
        <table class="winrate">
            <tr>
                <th>vs Terran</th>
                <th>vs Zerg</th>
                <th>vs Protoss</th>
                <th>Overall</th>
            </tr>
            <tr>
                <td>{{ terranWinrate }}</td>
                <td>{{ zergWinrate }}</td>
                <td>{{ protossWinrate }}</td>
                <td>{{ overallWinrate }}</td>
            </tr>
        </table>
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Map winrate:
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <a role="button" class="btn btn-primary btn_primary" href="{{ path('add_game', {'slug': player.team.slug}) }}">+ add game +</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Map</th>
                            <th>vs Terran</th>
                            <th>vs Zerg</th>
                            <th>vs Protoss</th>
                            <th>Overall</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for map, winrate in mapWinrates %}
                            <tr>
                                <td><a href="{{ path('show_map', {'slug': winrate['Slug']}) }}">{{ map }}</a></td>
                                <td>{{ winrate['Terran'] }}</td>
                                <td>{{ winrate['Zerg'] }}</td>
                                <td>{{ winrate['Protoss'] }}</td>
                                <td>{{ winrate['Overall'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Recent games:
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <a role="button" class="btn btn-primary btn_primary" href="{{ path('add_game', {'slug': player.team.slug}) }}">+ add game +</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Map</th>
                            <th>Player</th>
                            <th>Opponent's race</th>
                            <th>Result</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for game in allGames %}
                            <tr>
                                <td><a href="{{ path('show_game', {'slug': player.team.slug, 'id': game.id}) }}">{{ game.id }}</a></td>
                                <td>{{ game.date|date('Y-m-d') }}</td>
                                <td><a href="{{ path('show_map', {'slug': game.map.slug}) }}">{{ game.map.mapName }}</a></td>
                                <td><a href="{{ path('show_player', {'tslug': player.team.slug, 'pslug': game.yourPlayer.slug}) }}">
                                        [ {{ player.team.nameAbbreviation }} ] {{ game.yourPlayer.nickname }}</a></td>
                                <td><a href="{{ path('show_race', {'race': game.opponentRace}) }}">{{ game.opponentRace }}</a></td>
                                <td>{{ game.result }}</td>
                                <td>
                                    <a role="button" class="btn btn-danger" href="{{ path('remove_game', {'slug': player.team.slug, 'id': game.id}) }}">- delete game -</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
