{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path("fos_user_registration_register") }}" method="post">
        {{ form_widget(form._token) }}

            <div class="form-group">
                <label for="fos_user_registration_form_email" class="required">{{ 'security.login.email'|trans }}</label>
                <input type="email" id="fos_user_registration_form_email" class="form-control" name="fos_user_registration_form[email]" required="required" />
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_username" class="required">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="fos_user_registration_form_username" class="form-control" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" />
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_plainPassword_first" class="required">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="fos_user_registration_form_plainPassword_first" class="form-control" name="fos_user_registration_form[plainPassword][first]" required="required" />
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_plainPassword_second" class="required">{{ 'security.login.repeat'|trans }}</label>
                <input type="password" id="fos_user_registration_form_plainPassword_second" class="form-control" name="fos_user_registration_form[plainPassword][second]" required="required" />
            </div>

        <button type="submit" id="_submit" class="btn btn-primary" name="_submit">{{ 'registration.submit'|trans }}</button>
    </form>
{% endblock fos_user_content %}