/** CONTAINERS **/
body {
    background-image: url(../images/cartographer.png); /* from http://subtlepatterns.com/ */
    font-size: 18px;
    color: whitesmoke;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 1160px;
    text-align: center;
}

#content {
    color: #3b5998;
    clear: both;
    min-height: 400px;
    background-image: url(../images/new_year.png);
    border-radius: 20px;
    width: 1160px;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

#footer {
    width: 1160px;
    margin: 20px;
    text-align: center;
}


/** ELEMENTS **/
#buttons {
    float: right;
    padding-top: 30px;
}

form {
    width: 300px;
}

a {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#logo a, #logo a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.panel-heading a {
    width: 100%;
    display: block;
}

label, #content th {
    color: black;
}

.button {
    float: left;
    width: 60px;
    height: 97px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3b5998;
}

.button:hover {
    background-color: #2A4887;
}

a.buttonLink {
    color: white;
    text-decoration: none;
    display: block;
}

.panel-group .btn_primary, .panel-group .btn_secondary {
    position: relative;
    left: 250px;
    z-index: 9999;
}

.panel-group .btn_secondary {
    left: 280px;
}

#accordion .dataTables_wrapper {
    margin-top: -30px;
}

#collapseThree .panel-body {
    padding-top: 40px;
}

.player h1 {
    font-size: 40px;
    float: left;
    margin-top: 5px;
}

.player .winrate {

}
.player .winrate th, .player .winrate td {
    padding: 0 20px;
}

/** HEADER **/

#logo {
    float: left;
    font-size: 60px;
    width: 700px;
    text-align: center;
    margin-top: 10px;
}

p#login {
    display:block;
    float:right;
    padding-right: 40px;
    text-align: center;
}

#loginStatus {
    padding-right: 20px;
    text-align: right;
}

/** CONTENT **/
/** FOOTER **/