{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h3>Change your:</h3>
    <form name="fos_user_profile_form" method="post" action="/app_dev.php/profile/edit" class="fos_user_profile_edit">
        <div class="form-group">
            <label for="fos_user_profile_form_username" class="required">Username</label>
            <input type="text" id="fos_user_profile_form_username" class="form-control" name="fos_user_profile_form[username]" required="required" maxlength="255" pattern=".{2,}" value="iloveoov" />
        </div>
        <div class="form-group">
            <label for="fos_user_profile_form_email" class="required">Email</label>
            <input type="email" id="fos_user_profile_form_email" class="form-control" name="fos_user_profile_form[email]" required="required" value="iloveoov@example.com" />
        </div>
        <div class="form-group">
            <label for="fos_user_profile_form_current_password" class="required">Current password</label>
            <input type="password" id="fos_user_profile_form_current_password" class="form-control" name="fos_user_profile_form[current_password]" required="required" />
        </div>
        <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Save</button>
    </form>
{% endblock fos_user_content %}
