{% extends '::base.html.twig' %}

{% block body %}
    <h1>Add map</h1>
    <div id="addMapForm">
        <form action="{{ path('add_map') }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.mapName) }}
            </div>

            {{ form_rest(form) }}

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Add map</button>
        </form>
    </div>
{% endblock %}