{% extends '::base.html.twig' %}

{% block body %}
    <h1>Create team</h1>
    <div id="createTeamForm">
        <form action="{{ path('create_team') }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.teamName) }}
            </div>

            <div class="form-group">
            {{ form_row(form.nameAbbreviation) }}
            </div>

            <div class="form-group">
            {{ form_row(form.plainJoinPassword.first) }}
            </div>

            <div class="form-group">
            {{ form_row(form.plainJoinPassword.second) }}
            </div>
            {{ form_rest(form) }}

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Create team</button>
        </form>
    </div>
{% endblock %}