{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {# zalogowany #}
        {% if app.user.team is null %} {# nie ma teamu #}
            <p> You don't have a team currently. <a href="{{ path('create_team') }}">Create</a> or <a href="{{ path('join_team') }}">join</a> one!</p>
        {% else %} {# ma team #}
            {# redirect in controller #}
        {% endif %}
    {% else %} {# niezalogowany #}
        <p> You are not logged-in. Please, <a href="{{ path('fos_user_security_login') }}">log-in</a>. </p>
        <p> If you don't have an account yet, please <a href="{{ path('fos_user_registration_register') }}">register</a>. </p>
    {% endif %}
{% endblock %}