{% extends '::base.html.twig' %}

{% block body %}
    <h1>Join team</h1>
    <div id="joinTeamForm">
        <form action="{{ path('join_team') }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.teamNameOrAbb) }}
            </div>

            <div class="form-group">
            {{ form_row(form.plainJoinPassword) }}
            </div>
            {{ form_rest(form) }}

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Join team</button>
        </form>
    </div>
{% endblock %}