{% extends '::base.html.twig' %}

{% block body %}
    <h1>Leave team</h1>
        Type "CONFIRM" in order to confirm leaving your team.<br /><br />

    <div id="leaveTeamForm">
        <form action="{{ path('leave_team') }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.confirm) }}
            </div>

            <div class="form-group">
            {{ form_rest(form) }}
            </div>

            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Leave</button>
        </form>
    </div>
{% endblock %}