{% extends '::base.html.twig' %}

{% block body %}
    <h1>Predict</h1>

    {% if form.vars.submitted == true and form.vars.submitted == true %}
        For your next game (map: {{ map }}, opponent's race: {{ race }}) you should consider choosing one of these players: <br /><br />
        {% for player, winrate in winrates %}
            {{ loop.index }}. <a href="{{ path('show_player', {'tslug': team.slug, 'pslug': players[player].slug}) }}">
            {{ player }}</a> <a href="{{ path('show_race', {'race': players[player].race}) }}">({{ players[player].race }})</a>
            - winrate: {{ winrate }}%.<br />
        {% endfor %}
    {% else %}
        <div id="predictForm">
            <form action="{{ path('predict', {'slug': team.slug}) }}" method="POST" novalidate="novalidate">
                {{ form_errors(form) }}

                <div class="form-group">
                {{ form_row(form.map) }}
                </div>

                <div class="form-group">
                {{ form_row(form.opponentRace) }}
                </div>

                {{ form_rest(form) }}

                <button type="submit" id="_submit" class="btn btn-primary" name="_submit">Predict</button>
            </form>
        </div>
    {% endif %}
{% endblock %}