{% extends '::base.html.twig' %}

{% block body %}
<div class="player">
    <h1>Map: {{ map.mapName }}</h1><br /><br /><br />
    Times played: {{ gamesTotal }} <br /><br />

    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th></th>
                <th>vs Terran</th>
                <th>vs Zerg</th>
                <th>vs Protoss</th>
                <th>Overall</th>
            </tr>
            <tr>
                <th>Terran</th>
                <td>-</td>
                <td>{{ percentTvZ }}</td>
                <td>{{ percentTvP }}</td>
                <td>{{ percentTerran }}</td>
            </tr>
            <tr>
                <th>Zerg</th>
                <td>{{ percentZvT }}</td>
                <td>-</td>
                <td>{{ percentZvP }}</td>
                <td>{{ percentZerg }}</td>
            </tr>
            <tr>
                <th>Protoss</th>
                <td>{{ percentPvT }}</td>
                <td>{{ percentPvZ }}</td>
                <td>-</td>
                <td>{{ percentProtoss }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}