{% extends '::base.html.twig' %}
{% block body %}
<div class="player">

    <h1>{{ race }}</h1>

    <div>
        <table class="winrate">
            <tr>
                <th>vs Terran</th>
                <th>vs Zerg</th>
                <th>vs Protoss</th>
                <th>Overall</th>
            </tr>
            <tr>
                <td>{{ terran }}</td>
                <td>{{ zerg }}</td>
                <td>{{ protoss }}</td>
                <td>{{ overall }}</td>
            </tr>
        </table>
    </div>

        <br />

        <table class="table table-striped table-bordered">
            <tr>
                <th>Map</th>
                <th>vs Terran</th>
                <th>vs Zerg</th>
                <th>vs Protoss</th>
                <th>Overall</th>
            </tr>
            {% for map, winrate in mapWinrates %}
                <tr>
                    <td><a href="{{ path('show_map', {'slug': winrate['Slug']}) }}">{{ map }}</a></td>
                    <td>{{ winrate['Terran'] }}</td>
                    <td>{{ winrate['Zerg'] }}</td>
                    <td>{{ winrate['Protoss'] }}</td>
                    <td>{{ winrate['Overall'] }}</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}