{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Team Details
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h1><a href="{{ path('show_team', {'slug': team.slug}) }}">{{ team.teamName|upper }}</a></h1>
                    Abbreviation: {{ team.nameAbbreviation }}<br /><br />
                    <a role="button" class="btn btn-danger" href="{{ path('leave_team') }}">- leave team -</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Your Players
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <a role="button" class="btn btn-primary btn_primary" href="{{ path('add_player', {'slug': team.slug}) }}">+ add player +</a>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Race</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for player in players %}
                            <tr>
                                <th scope="row"><a href="{{ path('show_player', {'tslug': team.slug, 'pslug': player.slug}) }}">{{ player.id }}</a></th>
                                <td><a href="{{ path('show_player', {'tslug': team.slug, 'pslug': player.slug}) }}">
                                        [ {{ team.nameAbbreviation }} ] {{ player.nickname }}</a></td>
                                <td><a href="{{ path('show_race', {'race': player.race}) }}">{{ player.race }}</a></td>
                                <td>
                                    <a role="button" class="btn btn-danger" href="{{ path('remove_player', {'tslug': team.slug, 'pslug': player.slug}) }}">- remove from team -</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Players' Winrates
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                        <tr>
                            <th>Player</th>
                            <th>vs Terran</th>
                            <th>vs Zerg</th>
                            <th>vs Protoss</th>
                            <th>Overall</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for player, winrate in playerWinrates %}
                            <tr>
                                <td><a href="{{ path('show_player', {'tslug': team.slug, 'pslug': winrate['Slug']}) }}">
                                        {{ winrate['Nickname'] }}</a></td>
                                <td>{{ winrate['Terran'] }}</td>
                                <td>{{ winrate['Zerg'] }}</td>
                                <td>{{ winrate['Protoss'] }}</td>
                                <td>{{ winrate['Overall'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        Recent Games
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <a role="button" class="btn btn-primary btn_primary" href="{{ path('add_map') }}">+ add map +</a>
                    <a role="button" class="btn btn-primary btn_secondary" href="{{ path('add_game', {'slug': team.slug}) }}">+ add game +</a>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Map</th>
                            <th>Player</th>
                            <th>Opponent's race</th>
                            <th>Result</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for game in allGames %}
                            <tr>
                                <td><a href="{{ path('show_game', {'slug': team.slug, 'id': game.id}) }}">{{ game.id }}</a></td>
                                <td>{{ game.date|date('Y-m-d') }}</td>
                                <td><a href="{{ path('show_map', {'slug': game.map.slug}) }}">{{ game.map.mapName }}</a></td>
                                <td><a href="{{ path('show_player', {'tslug': team.slug, 'pslug': game.yourPlayer.slug}) }}">
                                        [ {{ team.nameAbbreviation }} ] {{ game.yourPlayer.nickname }}</a></td>
                                <td><a href="{{ path('show_race', {'race': game.opponentRace}) }}">{{ game.opponentRace }}</a></td>
                                <td>{{ game.result }}</td>
                                <td>
                                    <a role="button" class="btn btn-danger" href="{{ path('remove_game', {'slug': team.slug, 'id': game.id}) }}">- delete game -</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}